In [7]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'cate1': ['abc', 'abc', 'def', 'def', 'ghi'],
    'label': [0, 1, 0, 0, 1]
})

In [3]:
df

  cate1  label
0   abc      0
1   abc      1
2   def      0
3   def      0
4   ghi      1

In [30]:
c = 'cate1'
means = df.groupby(c).agg(lambda col: np.mean(col))
means

       label
cate1
abc      0.5
def      0.0
ghi      1.0

In [41]:
means2 = df.groupby(c).agg(lambda col: np.mean(col)).rename({'label':'label_enc'},axis=1)#.reset_index()
means2.to_dict(orient='list')

{'label_enc': [0.5, 0.0, 1.0]}

In [42]:
means2

       label_enc
cate1
abc          0.5
def          0.0
ghi          1.0

In [43]:
df_enc = df.set_index('cate1').join(means2, how='left').reset_index()
df_enc

  cate1  label  label_enc
0   abc      0        0.5
1   abc      1        0.5
2   def      0        0.0
3   def      0        0.0
4   ghi      1        1.0

In [ ]:
        means = df.groupby(F.col(c)).agg(F.mean(target).alias(f"{c}_enc"))
        dict_ = means.toPandas().to_dict()
        target_encoded_columns = [F.when(F.col(c) == v, encoder)
                                  for v, encoder in zip(dict_[c].values(),
                                                        dict_[f"{c}_enc"].values())]

In [36]:
df.rename({'label': 'moo'}, axis=1)

  cate1  moo
0   abc    0
1   abc    1
2   def    0
3   def    0
4   ghi    1