In [71]:
import pandas as pd
import numpy as np
import random
from math import fsum
from string import ascii_uppercase

In [79]:
# random categories
cats = list(random.choices(ascii_uppercase, k=3))

# Manufacture a small data frame
N = 10
x = np.random.randint(1,11,N)
y = np.random.randint(1,11,N)
z = random.choices(cats, k=N)
df = pd.DataFrame({'x': x, 'y': y, 'z': z})
df

    x   y  z
0   6  10  K
1   9   1  B
2   1   9  U
3   9   6  K
4   2   2  U
5   4   1  U
6   5   8  U
7   6   1  K
8   1   2  B
9  10   6  U

In [62]:
agg1 = ['x', 'y'] # list of attributes for which we'll compute the aggregate values
fun1 = ['mean', 'sum']  # a list of functions to use for aggregation

In [80]:
exprs = { x : fun1 for x in agg1 }
exprs

{'x': ['mean', 'sum'], 'y': ['mean', 'sum']}

In [81]:
df.groupby(['z']).agg(exprs, axis=1)

     x             y
  mean sum      mean sum
z
B  5.0  10  1.500000   3
K  7.0  21  5.666667  17
U  4.4  22  5.200000  26