In [1]:
import pandas as pd

In [5]:
data = pd.DataFrame([
    ('Abhimanyu',91,56,78,90,87,88),
    ('James',56,65,68,73,67,75),
    ('Emma',88,87,79,90,78,82),
    ('Russ',78,76,73,74,71,77),
    ('Rhea',66,65,69,70,65,61),
    ('Michael',80,45,48,78,83,90),
    ('Adam',34,44,45,55,44,43)
],columns=['Emp Name','January','February','March','April','May','June'])
data

    Emp Name  January  February  March  April  May  June
0  Abhimanyu       91        56     78     90   87    88
1      James       56        65     68     73   67    75
2       Emma       88        87     79     90   78    82
3       Russ       78        76     73     74   71    77
4       Rhea       66        65     69     70   65    61
5    Michael       80        45     48     78   83    90
6       Adam       34        44     45     55   44    43

In [6]:
data.style

In [25]:
def highlight(sales):
    color = '#CC0000' if sales > 80 else 'black'
    bgcolor = '#FFFF00' if sales > 80 else '#FFFFFF'
    return 'color: {}; background-color: {};'.format(color,bgcolor)

In [26]:
data_styler = data.iloc[:,1:6].style.applymap(highlight)
data_styler

In [22]:
type(data_formatted)

pandas.io.formats.style.Styler