In [1]:
from io import StringIO, BytesIO
import pandas as pd
import gzip

### Create a data frame

In [2]:
df = pd.DataFrame({
    'rowid': [1,2,3],
    'a': ['alpha', 'apple', 'amiable'],
    'b': ['banana', 'billing', 'boulder']
})

In [3]:
df

   rowid        a        b
0      1    alpha   banana
1      2    apple  billing
2      3  amiable  boulder

### First attempt to write data frame to a BytesIO object

This results in an exception: `TypeError: a bytes-like object is required, not 'str'`

ubuf = BytesIO()
df.to_csv(ubuf, index_label='rowid', header=False)

### 3. Alternative approach

Use `gzip` to open the buffer first

In [87]:
ubuf = BytesIO()
with gzip.open(ubuf, 'wb') as f:
    f.write(df.to_csv(index_label='rowid', header=False).encode())

In [95]:
ubuf.seek(0)
ubuf.read().decode()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

In [79]:
ubuf.seek(0)
with gzip.open(ubuf, 'rb') as f:
    df2 = pd.read_csv(f, header=None, names=['rowid', 'a','b'], dtype={'rowid':int,'a':str,'b':str})

In [80]:
df2

   rowid        a        b
0      1    alpha   banana
1      2    apple  billing
2      3  amiable  boulder

In [4]:
ubuf = StringIO()

In [10]:
x = b'\x33'

In [18]:
x = '3'

In [19]:
type(x) == str

True

In [7]:
ubuf.write(b'\x32')

TypeError: string argument expected, got 'bytes'

In [6]:
ubuf.getvalue()

'moo'

In [96]:
ubuf = StringIO()
df.to_csv(ubuf, index_label='rowid', header=False)

In [98]:
ubuf.getvalue()

'0,1,alpha,banana\r\n1,2,apple,billing\r\n2,3,amiable,boulder\r\n'