In [1]:
import sys

from datetime import date, datetime, timedelta
from time import time

In [2]:
# Generate an ISO-formatted timestamp
datetime.utcnow().isoformat()

'2021-01-15T21:30:03.232891'

In [15]:
# Generate a custom datestamp
date.today().strftime('%Y-%m-%d')

'2020-07-02'

In [16]:
# Generate a custom timestamp
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2020-07-02 09:08:54'

In [18]:
(datetime.now() + timedelta(hours=1)).strftime('%Y-%m-%d %H:%M:%S')

'2020-07-02 10:09:44'

In [4]:
# generate a timestamp string suitable for use on AWS (job names, S3 object names, etc.)
jobts = datetime.now().strftime('%Y%m%d-%H%M')
jobts

'20210115-1631'

In [11]:
import pandas as pd
x = []
for i in range(5):
    x.append((1,2))
df = pd.DataFrame(x, columns=['rows', 'columns'])
df

   rows  columns
0     1        2
1     1        2
2     1        2
3     1        2
4     1        2

In [51]:
t1 = time()
print('{:.0f}'.format(t1-t0))

55

In [90]:
def dprint(str, *args):
    sys.stdout.writelines([
        '[{}] '.format(datetime.utcnow().isoformat()),
        str.format(*args),
        '\n'
    ])
    sys.stdout.flush()

In [94]:
dprint('hello {} records {}', 6, 9)

[2019-11-06T15:28:37.262935] hello 6 records 9

In [92]:
args = (1,2,3)
args

(1, 2, 3)

## Check current day/time within a given range

In [2]:
n = datetime.now()
cur_hour = n.hour
cur_day = n.isoweekday()

In [3]:
n = datetime.now()
cur_day_hour = n.isoweekday() * 100 + n.hour
cur_day_hour

109

In [24]:
# case 1: start < end
cur_day_hour = 213
blackout_start = 212 # tuesday NOON
blackout_end = 315 # wednesday 3PM

In [26]:
# case 2: end < start, right
cur_day_hour = 213
blackout_start = 201 # tuesday 1AM
blackout_end = 104 # sunday 4AM

In [28]:
# case 3: end < start, left
cur_day_hour = 213
blackout_start = 701 # sunday 1AM
blackout_end = 301 # wednesday 1AM

In [30]:
# case 4: no blackout
cur_day_hour = 100
blackout_start = 0
blackout_end = 0

In [32]:
# case 5: one hour per week
cur_day_hour = 213
blackout_start = 213
blackout_end = 213

In [36]:
import config

In [33]:
if (blackout_start <= blackout_end) and (blackout_start <= cur_day_hour) and (cur_day_hour <= blackout_end):
    print("blackout")
elif (blackout_start > blackout_end) and (100 <= cur_day_hour) and (cur_day_hour <= blackout_end):
    print("blackout left")
elif (blackout_start > blackout_end) and (blackout_start <= cur_day_hour) and (cur_day_hour <= 723):
    print("blackout right")
else:
    print("ok")

blackout

In [34]:
def isInBlackoutPeriod():
    n = datetime.now()
    c = n.isoweekday() * 100 + n.hour
    s = config.BLACKOUT_START
    e = config.BLACKOUT_END
    if (s <= e) and (s <= c) and (c <= e):
        return True
    elif (s > e) and (100 <= c) and (c <= e):
        return True
    elif (s > e) and (s <= c) and (c <= 723):
        return True
    else:
        return False

In [37]:
isInBlackoutPeriod()

False

In [47]:
if (cur_day == 6) or (cur_day==5 and cur_hour >= 19):
    print('do not run')
else:
    print('ok')

ok

In [ ]:
current_